<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header">
        @RenderSection("Header")
    </div>

        @RenderBody()

    <div class="footer">
        @RenderSection("Footer")
    </div>
</body>
</html>
